{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">
    <script src="https://kit.fontawesome.com/65ea003a65.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="container-form sign-in">
      <form action="{% url 'login' %}" method="post" class="formulario">
        {% csrf_token %}
          <h2 class="create-account" style="color: brown;">Iniciar sesión</h2>
          <div class="iconos">
            <div class="border-icon">
              <i class="fa-brands fa-facebook" style="color: #bb7b0c;"></i>
            </div>
            <div class="border-icon">
              <i class="fa-brands fa-google" style="color: #bb7b0c;"></i>
            </div>
            <div class="border-icon">
              <i class="fa-brands fa-instagram" style="color: #bb7b0c;"></i>
            </div>
          </div>     
          <p class="cuenta-gratis" style="color:brown ;">¿Aun no tienes cuenta?</p>
          <input  class="inp" type="text" name="user" id="user"  placeholder="User" required>
          <input class="inp" type="password" name="pass" id="pass"  placeholder="Password" required>   
          <input class="subb" type="submit" value="Login">
        </form>
        <div class="welcome-back">
            <div class="message" style="color: brown f;" >
              <h2>Bienvenido a Bowis</h2>
              <p>¡Si aun no tiene una cuenta puede registrarse con ese boton!</p>
          <a href="registro.html"><button class="sign-in-btn">Registrarse</button></a>   
            </div>
        </div>
      </div>   
 
</body>
</html>